PORT=8080
GIN_MODE=debug

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=ecommerce_shop
DB_SSLMODE=disable


JWT_SECRET=secret
JWT_EXPIRES_IN=24h
REFRESH_TOKEN_EXPIRES_IN=72h

AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S£_BUCKET_NAME=ecommerce-uploads
AWS_S3_ENDPOINT=http::/localhost:9000


UPLOAD_PATH=./uploads
MAX_FILE_SIZE=10485760